/*** Webber-css --- Created by Tobi Makinde -- Tech Webber Limited ***/
body {margin:0px;}
a {color:inherit;}
.tw-nav {padding:0px;margin:0px;list-style:none;}
.tw-nav li {display:inline-block;list-style:none;margin:0px;padding:0px;}
.tw-nav a {color:inherit;text-decoration:none;padding-left:20px;padding-right:20px;display:inline-block;}

.tw-text-amber {color:rgba(190,70,30,0.7);}
.tw-text-amber-full {color:rgb(190,70,30);}
.tw-text-lightblue {color:rgba(0,162,232,0.7);}
.tw-text-blue {color:rgba(18,50,107,0.7);}
.tw-text-white {color:rgba(255,255,255,0.7);}
.tw-text-white-full {color:white;}
.tw-text-black {color:rgba(0,0,0,0.7);}
.tw-text-black-full {color:black;}
.tw-text-lightgrey {color:rgba(235,235,235,0.7);}
.tw-text-grey {color:rgba(150,150,150,0.7);}
.tw-text-darkgrey {color:rgba(40,40,40,0.7);}
.tw-text-red {color:rgba(237,50,55,0.7);}
.tw-text-red-full {color:rgb(237,50,55);}
.tw-text-purple {color:rgba(103,8,123,0.7);}
.tw-text-purple-full {color:rgb(103,8,123);}


.tw-text-amber-hover:hover {color:rgba(190,70,30,0.7);transition:0.5s;}
.tw-text-amber-full-hover:hover {color:rgb(190,70,30);transition:0.5s;}
.tw-text-lightblue-hover:hover {color:rgba(0,162,232,0.7);transition:0.5s;}
.tw-text-lightblue-full-hover:hover {color:rgb(0,162,232);transition:0.5s;}
.tw-text-blue-hover:hover {color:rgba(18,50,107,0.7);transition:0.5s;}
.tw-text-blue-full-hover:hover {color:rgb(18,50,107);transition:0.5s;}
.tw-text-white-hover:hover {color:rgba(255,255,255,0.7);transition:0.5s;}
.tw-text-white-full-hover:hover {color:white;transition:0.5s;}
.tw-text-black-hover:hover {color:rgba(0,0,0,0.7);transition:0.5s;}
.tw-text-black-full-hover:hover {color:black;transition:0.5s;}
.tw-text-lightgrey-hover:hover {color:rgba(235,235,235,0.7);transition:0.5s;}
.tw-text-grey-hover:hover {color:rgba(150,150,150,0.7);transition:0.5s;}
.tw-text-darkgrey-hover:hover {color:rgba(40,40,40,0.7);transition:0.5s;}
.tw-text-red-hover:hover {color:rgba(237,50,55,0.7);transition:0.5s;}
.tw-text-red-full-hover:hover {color:rgb(237,50,55);transition:0.5s;}
.tw-text-purple-hover:hover {color:rgba(103,8,123,0.7);transition:0.5s;}
.tw-text-purple-full-hover:hover {color:rgb(103,8,123);transition:0.5s;}

.tw-text-xs {font-size:8pt;}
.tw-text-s {font-size:10pt;}
.tw-text-m {font-size:12pt;}
.tw-text-l {font-size:15pt;}
.tw-text-xl {font-size:25pt;}
.tw-text-xxl {font-size:40pt;}

.tw-text-shadow {text-shadow:1px 1px rgba(0,0,0,0.8);}

.tw-bold {font-weight:bold;}

.tw-word-wrap {overflow-wrap:break-word;}

.tw-center * {margin:auto;}

.tw-bg-white {background-color:white !important;}
.tw-bg-lightblue {background-color:rgba(0,162,232,0.9) !important;}
.tw-bg-lightblue-full {background-color:rgba(0,162,232) !important;}
.tw-bg-blue {background-color:rgba(18,50,107,0.9) !important;}
.tw-bg-black {background-color:rgba(0,0,0,0.9) !important;}
.tw-bg-black-full {background-color:rgba(0,0,0) !important;}
.tw-bg-lightgrey {background-color:rgba(235,235,235,0.9) !important;}
.tw-bg-grey {background-color:rgba(150,150,150,0.9) !important;}
.tw-bg-darkgrey {background-color:rgba(40,40,40,0.9) !important;}
.tw-bg-darkgrey-full {background-color:rgba(40,40,40) !important;}
.tw-bg-amber {background-color:rgba(190,70,30,0.9) !important;}
.tw-bg-red {background-color:rgba(237,50,55,0.7) !important;}
.tw-bg-red-full {background-color:rgb(237,50,55) !important;}
.tw-bg-purple {background-color:rgba(103,8,123,0.7) !important;}
.tw-bg-purple-full {background-color:rgb(103,8,123) !important;}
.tw-bg-transparent {background-color:transparent !important;-webkit-appearance:none !important;}

.tw-bg-white-hover:hover {background-color:white !important;transition:0.5s;}
.tw-bg-lightblue-hover:hover {background-color:rgba(0,162,232,0.9) !important;transition:0.5s;}
.tw-bg-faintblue-hover:hover {background-color:rgba(0,50,155,0.1) !important;transition:0.5s;}
.tw-bg-blue-hover:hover {background-color:rgba(18,50,107,0.9) !important;transition:0.5s;}
.tw-bg-black-hover:hover {background-color:rgba(0,0,0,0.9) !important;transition:0.5s;}
.tw-bg-lightgrey-hover:hover {background-color:rgba(235,235,235,0.9) !important;transition:0.5s;}
.tw-bg-grey-hover:hover {background-color:rgba(150,150,150,0.9) !important;transition:0.5s;}
.tw-bg-darkgrey-hover:hover {background-color:rgba(40,40,40,0.9) !important;transition:0.5s;}
.tw-bg-amber-hover:hover {background-color:rgba(190,70,30,0.9) !important;transition:0.5s;}
.tw-bg-red-hover:hover {background-color:rgba(237,50,55,0.7) !important;transition:0.5s;}
.tw-bg-red-full-hover:hover {background-color:rgb(237,50,55) !important;transition:0.5s;}
.tw-bg-purple-hover:hover {background-color:rgba(103,8,123,0.7) !important;transition:0.5s;}
.tw-bg-purple-full-hover:hover {background-color:rgb(103,8,123) !important;transition:0.5s;}

.tw-row {overflow:hidden;}

.tw-col-s-eight {width:12.5%;float:left;}
.tw-col-s-7eight {width:87.5%;float:left;}
.tw-col-s-quarter {width:25%;float:left;}
.tw-col-s-3quarter {width:75%;float:left;}
.tw-col-s-half {width:50%;float:left;}
.tw-col-s-2fifth {width:40%;float:left;}
.tw-col-s-3fifth {width:60%;float:left;}
@media(max-width: 639px) {
.tw-hidden-s {display:none !important;}
}
@media(max-width: 959px) {
.tw-hidden-m-max {display:none !important;}
}
@media(min-width: 640px) {
.tw-hidden-m-min {display:none !important;}
}
@media(min-width: 960px) {
.tw-hidden-l {display:none !important;}
}
.tw-hidden {display:none !important;}


@media(min-width: 640px) {
.tw-col-m-eight {width:12.5%;float:left;}
.tw-col-m-7eight {width:87.5%;float:left;}
.tw-col-m-quarter {width:25%;float:left;}
.tw-col-m-3quarter {width:75%;float:left;}
.tw-col-m-half {width:50%;float:left;}
.tw-col-m-2fifth {width:40%;float:left;}
.tw-col-m-3fifth {width:60%;float:left;}	
}


@media(min-width: 960px) {
.tw-col-l-eight {width:12.5%;float:left;}
.tw-col-l-7eight {width:87.5%;float:left;}
.tw-col-l-quarter {width:25%;float:left;}
.tw-col-l-3quarter {width:75%;float:left;}
.tw-col-l-half {width:50%;float:left;}
.tw-col-l-2fifth {width:40%;float:left;}
.tw-col-l-3fifth {width:60%;float:left;}	
}

.tw-inner-wrapper {width:95%;margin:auto;position:relative;}

.tw-glow {box-shadow:0px 0px 2px 2px rgba(255,255,255,0.7);}
.tw-flare {box-shadow:0px 0px 2px 2px rgba(0,0,0,0.7);}
.tw-blog-box {box-shadow:0px 0px 2px 2px rgba(0,0,0,0.1);}
.tw-shadow {box-shadow:1px 1px 1px 1px rgba(0,0,0,0.3);}

.tw-padding-0 {padding:0px !important;}
.tw-padding-xs {padding:3px !important;}
.tw-padding-s {padding:6px !important;}
.tw-padding-m {padding:12px !important;}
.tw-padding-l {padding:24px !important;}
.tw-padding-xl {padding:48px !important;}
.tw-padding-xxl {padding:96px !important;}

.tw-padding-left-0 {padding-left:0px !important;}
.tw-padding-left-xs {padding-left:3px !important;}
.tw-padding-left-s {padding-left:6px !important;}
.tw-padding-left-m {padding-left:12px !important;}
.tw-padding-left-l {padding-left:24px !important;}
.tw-padding-left-xl {padding-left:48px !important;}
.tw-padding-left-xxl {padding-left:96px !important;}

.tw-padding-right-0 {padding-right:0px !important;}
.tw-padding-right-xs {padding-right:3px !important;}
.tw-padding-right-s {padding-right:6px !important;}
.tw-padding-right-m {padding-right:12px !important;}
.tw-padding-right-l {padding-right:24px !important;}
.tw-padding-right-xl {padding-right:48px !important;}
.tw-padding-right-xxl {padding-right:96px !important;}

.tw-padding-top-0 {padding-top:0px !important;}
.tw-padding-top-xs {padding-top:3px !important;}
.tw-padding-top-s {padding-top:6px !important;}
.tw-padding-top-m {padding-top:12px !important;}
.tw-padding-top-l {padding-top:24px !important;}
.tw-padding-top-xl {padding-top:48px !important;}
.tw-padding-top-xxl {padding-top:96px !important;}

.tw-padding-bottom-0 {padding-bottom:0px !important;}
.tw-padding-bottom-xs {padding-bottom:3px !important;}
.tw-padding-bottom-s {padding-bottom:6px !important;}
.tw-padding-bottom-m {padding-bottom:12px !important;}
.tw-padding-bottom-l {padding-bottom:24px !important;}
.tw-padding-bottom-xl {padding-bottom:48px !important;}
.tw-padding-bottom-xxl {padding-bottom:96px !important;}

.tw-margin-center {margin:auto;}

.tw-margin-0 {margin:0px !important;}
.tw-margin-xs {margin:3px !important;}
.tw-margin-s {margin:6px !important;}
.tw-margin-m {margin:12px !important;}
.tw-margin-l {margin:24px !important;}
.tw-margin-xl {margin:48px !important;}
.tw-margin-xxl {margin:96px !important;}

.tw-margin-left-0 {margin-left:0px !important;}
.tw-margin-left-xs {margin-left:3px !important;}
.tw-margin-left-s {margin-left:6px !important;}
.tw-margin-left-m {margin-left:12px !important;}
.tw-margin-left-l {margin-left:24px !important;}
.tw-margin-left-xl {margin-left:48px !important;}
.tw-margin-left-xxl {margin-left:96px !important;}

.tw-margin-right-0 {margin-right:0px !important;}
.tw-margin-right-xs {margin-right:3px !important;}
.tw-margin-right-s {margin-right:6px !important;}
.tw-margin-right-m {margin-right:12px !important;}
.tw-margin-right-l {margin-right:24px !important;}
.tw-margin-right-xl {margin-right:48px !important;}
.tw-margin-right-xxl {margin-right:96px !important;}

.tw-margin-top-0 {margin-top:0px !important;}
.tw-margin-top-xs {margin-top:3px !important;}
.tw-margin-top-s {margin-top:6px !important;}
.tw-margin-top-m {margin-top:12px !important;}
.tw-margin-top-l {margin-top:24px !important;}
.tw-margin-top-xl {margin-top:48px !important;}
.tw-margin-top-xxl {margin-top:96px !important;}

.tw-margin-bottom-0 {margin-bottom:0px !important;}
.tw-margin-bottom-xs {margin-bottom:3px !important;}
.tw-margin-bottom-s {margin-bottom:6px !important;}
.tw-margin-bottom-m {margin-bottom:12px !important;}
.tw-margin-bottom-l {margin-bottom:24px !important;}
.tw-margin-bottom-xl {margin-bottom:48px !important;}
.tw-margin-bottom-xxl {margin-bottom:96px !important;}

.tw-pos {position:absolute;z-index:2;}
.tw-pos-left {left:0px;}
.tw-pos-right {right:0px;}
.tw-pos-top {top:0px;}
.tw-pos-bottom {bottom:0px;}
.tw-pos-middle {top:49.5%;}
.tw-pos-center {left:49.5%;}

.tw-btn {text-align:center;padding-top:6px;padding-bottom:6px;margin-top:10px;margin-bottom:10px;}
a.tw-btn  {text-decoration:none;padding:6px;display:inline-block;}
.tw-btn-block {display:block !important;}
button.tw-btn-block {width:100%;border:0px;}

.tw-modal {z-index:20;position:fixed;left:0px;right:0px;bottom:0px;top:0px;background:rgba(0,0,0,0.8);padding-top:100px;overflow:auto;}
.tw-modal > div {width:97%;margin:auto;background-color:white;}
@media(min-width: 420px){
.tw-modal-s > div {width:400px;}
}
@media(min-width: 620px){
.tw-modal-m > div {width:600px;}
}
.tw-modal > a {position:absolute;top:15px;right:15px;text-decoration:none;}

.tw-form input[type=text] {width:100%;min-height:30px;border:1px solid rgb(235,235,235);margin-bottom:12px;font-family:inherit;font-size:inherit;}
.tw-form input[type=email] {width:100%;min-height:30px;border:1px solid rgb(235,235,235);margin-bottom:12px;font-family:inherit;font-size:inherit;}
.tw-form input[type=password] {width:100%;min-height:30px;border:1px solid rgb(235,235,235);margin-bottom:12px;font-family:inherit;font-size:inherit;}
.tw-form input:hover {border:1px solid rgb(225,225,225);transition:0.5s;}
.tw-form select {width:100%;min-height:30px;border:1px solid rgb(235,235,235);margin-bottom:12px;font-family:inherit;font-size:inherit;}
.tw-form select:hover {border:1px solid rgb(225,225,225);transition:0.5s;}
.tw-form  textarea{width:100%;border:1px solid rgb(235,235,235);margin-bottom:12px;font-family:inherit;font-size:inherit;resize:none;}
.tw-form textarea:hover {border:1px solid rgb(225,225,225);transition:0.5s;}

.tw-select {height:30px;position:relative;overflow:hidden;background-repeat:no-repeat;background-position:right top;margin-bottom:12px;}
.tw-select select {width:110%;z-index:3;background:transparent !important;-webkit-appearance:none !important;border:0px !important;font-family:inherit;font-size:inherit;color:inherit;}
.tw-select-black {background-image:url(tw-arrow-down-black.png);}
.tw-select-white {background-image:url(tw-arrow-down-white.png);}

.tw-tag {display:inline-block;padding-left:4px;padding-right:4px;margin:3px;border:1px solid rgb(200,200,200);color:rgb(200,200,200);}

.tw-text-left {text-align:left}
.tw-text-right {text-align:right}
.tw-text-center {text-align:center}

.tw-underline {text-decoration:underline;}
.tw-underline-hover:hover {text-decoration:underline;}

.tw-border-radius-xs {border-radius:3px !important;}
.tw-border-radius-s {border-radius:6px !important;}
.tw-border-radius-m {border-radius:12px !important;}
.tw-border-radius-l {border-radius:24px !important;}
.tw-border-radius-xl {border-radius:48px !important;}
.tw-border-radius-xxl {border-radius:96px !important;}
.tw-border-radius-circle {border-radius:50% !important;}

.tw-border-xs {border-width:1px !important;}
.tw-border-s {border-width:2px !important;}
.tw-border-m {border-width:3px !important;}
.tw-border-l {border-width:4px !important;}
.tw-border-xl {border-width:5px !important;}
.tw-border-xxl {border-width:6px !important;}
.tw-border-0 {border:0px !important;}

.tw-border-top-xs {border-width:1px 0px 0px 0px !important;}
.tw-border-top-s {border-width:2px 0px 0px 0px !important;}
.tw-border-top-m {border-width:3px 0px 0px 0px !important;}
.tw-border-top-l {border-width:4px 0px 0px 0px !important;}
.tw-border-top-xl {border-width:5px 0px 0px 0px !important;}
.tw-border-top-xxl {border-width:6px 0px 0px 0px !important;}

.tw-border-right-xs {border-width:0px 1px 0px 0px !important;}
.tw-border-right-s {border-width:0px 2px 0px 0px !important;}
.tw-border-right-m {border-width:0px 3px 0px 0px !important;}
.tw-border-right-l {border-width:0px 4px 0px 0px !important;}
.tw-border-right-xl {border-width:0px 5px 0px 0px !important;}
.tw-border-right-xxl {border-width:0px 6px 0px 0px !important;}

.tw-border-bottom-xs {border-width:0px 0px 1px 0px !important;}
.tw-border-bottom-s {border-width:0px 0px 2px 0px !important;}
.tw-border-bottom-m {border-width:0px 0px 3px 0px !important;}
.tw-border-bottom-l {border-width:0px 0px 4px 0px !important;}
.tw-border-bottom-xl {border-width:0px 0px 5px 0px !important;}
.tw-border-bottom-xxl {border-width:0px 0px 6px 0px !important;}

.tw-border-left-xs {border-width:0px 0px 0px 1px !important;}
.tw-border-left-s {border-width:0px 0px 0px 2px !important;}
.tw-border-left-m {border-width:0px 0px 0px 3px !important;}
.tw-border-left-l {border-width:0px 0px 0px 4px !important;}
.tw-border-left-xl {border-width:0px 0px 0px 5px !important;}
.tw-border-left-xxl {border-width:0px 0px 0px 6px !important;}

.tw-border-solid {border-style:solid !important;}
.tw-border-dotted {border-style:dotted !important;}

.tw-border-amber {border-color:rgba(190,70,30,0.7) !important;}
.tw-border-amber-full {border-color:rgb(190,70,30) !important;}
.tw-border-lightblue {border-color:rgba(0,162,232,0.7) !important;}
.tw-border-blue {border-color:rgba(18,50,107,0.7) !important;}
.tw-border-white {border-color:rgba(255,255,255,0.7) !important;}
.tw-border-white-full {border-color:white !important;}
.tw-border-black {border-color:rgba(0,0,0,0.7) !important;}
.tw-border-black-full {border-color:black !important;}
.tw-border-darkgrey {border-color:rgba(40,40,40,0.9) !important;}
.tw-border-grey {border-color:rgba(150,150,150,0.9) !important;}
.tw-border-lightgrey {border-color:rgba(235,235,235,0.9) !important;}
.tw-border-red {border-color:rgba(237,50,55,0.9) !important;}
.tw-border-red-full {border-color:rgb(237,50,55) !important;}
.tw-border-transparent {border-color:transparent; !important;}
.tw-border-purple {border-color:rgba(103,8,123,0.7) !important;}
.tw-border-purple-full {border-color:rgb(103,8,123) !important;}

.tw-border-amber-hover:hover {border-color:rgba(190,70,30,0.7) !important;transition:0.5s;}
.tw-border-amber-full-hover:hover {border-color:rgb(190,70,30) !important;transition:0.5s;}
.tw-border-lightblue-hover:hover {border-color:rgba(0,162,232,0.7) !important;transition:0.5s;}
.tw-border-blue-hover:hover {border-color:rgba(18,50,107,0.7) !important;transition:0.5s;}
.tw-border-white-hover:hover {border-color:rgba(255,255,255,0.7) !important;transition:0.5s;}
.tw-border-white-full-hover:hover {border-color:white !important;transition:0.5s;}
.tw-border-black-hover:hover {border-color:rgba(0,0,0,0.7) !important;transition:0.5s;}
.tw-border-black-full-hover:hover {border-color:black !important;transition:0.5s;}
.tw-border-darkgrey-hover:hover {border-color:rgba(40,40,40,0.9) !important;transition:0.5s;}
.tw-border-grey-hover:hover {border-color:rgba(150,150,150,0.9) !important;transition:0.5s;}
.tw-border-lightgrey-hover:hover {border-color:rgba(235,235,235,0.9)) !important;transition:0.5s;}
.tw-border-red-hover:hover {border-color:rgba(237,50,55,0.9) !important;transition:0.5s;}
.tw-border-red-full-hover:hover {border-color:rgb(237,50,55) !important;transition:0.5s;}
.tw-border-purple-hover:hover {border-color:rgba(103,8,123,0.7) !important;transition:0.5s;}
.tw-border-purple-full-hover:hover {border-color:rgb(103,8,123) !important;transition:0.5s;}

.tw-animate-fading{-webkit-animation:fading 10s infinite;animation:fading 10s infinite}
@-webkit-keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.tw-animate-opacity{-webkit-animation:opac 0.8s;animation:opac 0.8s}
@-webkit-keyframes opac{from{opacity:0} to{opacity:1}}
@keyframes opac{from{opacity:0} to{opacity:1}}
.tw-animate-top{position:relative;-webkit-animation:animatetop 0.4s;animation:animatetop 0.4s}
@-webkit-keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.tw-animate-left{position:relative;-webkit-animation:animateleft 0.4s;animation:animateleft 0.4s}
@-webkit-keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.tw-animate-right{position:relative;-webkit-animation:animateright 0.4s;animation:animateright 0.4s}
@-webkit-keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.tw-animate-bottom{position:relative;-webkit-animation:animatebottom 0.4s;animation:animatebottom 0.4s}
@-webkit-keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0px;opacity:1}}
@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.tw-animate-zoom {-webkit-animation:animatezoom 0.6s;animation:animatezoom 0.6s}
@-webkit-keyframes animatezoom{from{-webkit-transform:scale(0)} to{-webkit-transform:scale(1)}}
@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}